{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">

	{% for event in events %}
    <div class="col-sm-12 col-md-6 col-lg-4">
		
		<div class="card mb-2 mt-3">
			<a href="{% url 'events:event_entry_template' event.id %}" style="text-decoration: none; color: inherit;">
			<div class="card-header" style="font-size:0.8rem;"> {{article.category}} </div>
			<div style="width:100%; height:200px;">
				<img class="card-img-top" src="{{event.event_image_url}}" alt="event image" 
				style="width: 100%; height: 100%; object-fit: contain;">
			</div>
			<div class="card-body">
				<h4 class="card-title">{{event.event_title}}</h4>
				<p class="card-text"> {{event.event_preview}} </p>
				<a href="{% url 'events:event_entry_template' event.id %}" class="card-link" style="float: right;">Vezi eveniment</a>
			</div>
			</a>
		</div>
		
    </div>
	{% endfor %}
    
  </div>
</div>
{% endblock %}
