{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">

	{% if event %}
    <div class="col-sm-12">
		<div class="card mb-2 mt-3">
			<div class="card-header" style="font-size:0.8rem;"> {{event.event_type}} </div>
			<div class="card-header" style="font-size:0.8rem; color: red;"> 
				<b>{{event.event_start_time}}  &nbsp&nbsp -  &nbsp&nbsp {{event.event_end_time}}</b>
			</div>

			<div style="width:100%; height:400px;">
			<span class="badge badge-warning" style="margin: 1%;">Preţ: {{event.event_price}} RON</span><br>

				<img class="card-img-top" src="{{event.event_image_url}}" alt="event image" 
				style="width: 100%; height: 100%; object-fit: contain;">

			</div><br><br>
			<div class="card-body">
				<h4 class="card-title">{{event.event_title}}</h4>
				<p class="card-text card-header"> {{event.event_preview}} </p><hr>
				<p class="card-text" style="color:#4F4F4F;"> {{event.event_text}} </p>

				<a href="{{event.event_URL}}" class="btn btn-lg btn-success btn-block">
					Vezi Site-ul Evenimentului
				</a><br>
				<a href="{% url 'events:index' %}" class="card-link" style="float: right;">Acasă</a>
			</div>
		</div>
    </div>
	{% endif %}
    
  </div>
</div>
{% endblock %}
